<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyneleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Места</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="header">
  <div class="headerBlock">
    <div class="logo">
      <a href="/"><img class="logoImg" th:src="@{/img/logotype.png}" alt="Logotype" /></a>
    </div>
    <div class="spaceLogo">
      <div class="spaceLogoNameAdmin">
        <a href="/adminPanel/adminUser" class="spaceLogoNameLinkAdmin">Пользователи</a>
      </div>
      <div class="spaceLogoNameAdmin">
        <a href="/adminPanel/adminTrain" class="spaceLogoNameLinkAdmin">Поезда</a>
      </div>
      <div class="spaceLogoNameAdmin">
        <a href="/adminPanel/adminTicket" class="spaceLogoNameLinkAdmin">Билеты</a>
      </div>
      <div class="spaceLogoNameAdmin">
        <a href="/adminPanel/adminCountry" class="spaceLogoNameLinkAdmin">Страны</a>
      </div>
    </div>
    <div class="logoName" sec:authorize="isAuthenticated()">
      <a class="logoNameLogin" href="/account" sec:authentication="name">
      </a>
      <div class="logoNameExit">
        <div class="logoNameExitColor">
          <a class="logoNameExitLink" href="/logout">Выйти</a>
        </div>
      </div>
    </div>
    <div class="logoName" sec:authorize="!isAuthenticated()">
      <a class="logoNameLogin" href="/" >
        Логин
      </a>
      <div class="logoNameExit">
        <div class="logoNameExitColor">
          <a class="logoNameExitLink" href="/login">Войти</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div  class="tableBlock">
  <div class="routeFormBlockName">
    Таблица: Места
  </div>
<!--<form class="tableBlockLink" th:action="@{/adminPanel/adminPlace/createAdminPlace}" method="get">-->
<!--  <input type="hidden" name="undoListCreate" th:value="${undoListCreate}"/>-->
<!--  <button class="tableButton" type="submit">Create</button>-->
<!--</form>-->
<table>
  <thead>
  <th>Номер</th>
  <th>Номер отдела</th>
  <th>Занятость</th>
  <th>Цена</th>
  <th>Индекс</th>
<!--  <th>Изменить</th>-->
  <th>Посмотреть</th>
<!--  <th>Удалить</th>-->
  </thead>
  <tr data-th-each="place : ${allPlaces}">
    <td data-th-text="${place.id}"></td>
    <td data-th-text="${place.compartmentId}"></td>
    <td data-th-text="${place.engaged}"></td>
    <td data-th-text="${place.price}"></td>
    <td data-th-text="${place.numberPlace}"></td>
<!--    <td>-->
<!--      <form th:action="@{/adminPanel/adminPlace/editAdminPlace}" method="get">-->
<!--        <input type="hidden" name="placeId" th:value="${place.id}"/>-->
<!--        <button class="tableButton" type="submit">Изменить</button>-->
<!--      </form>-->
<!--    </td>-->
    <td>
      <form th:action="@{/adminPanel/adminPlace/viewAdminPlace}" method="get">
        <input type="hidden" name="placeId" th:value="${place.id}"/>
        <button class="tableButton" type="submit">Посмотреть</button>
      </form>
    </td>
<!--    <td >-->
<!--      <form th:action="@{/adminPanel/adminPlace}" method="post">-->
<!--        <input type="hidden" name="placeId" th:value="${place.id}"/>-->
<!--        <input type="hidden" name="action" value="delete"/>-->
<!--        <button class="tableButton" type="submit">Удалить</button>-->
<!--      </form>-->
<!--    </td>-->
  </tr>
</table>
  <div class="tableBlockLink">
    <a class="tableBlockLinkA" th:href="@{/adminPanel/adminCompartment(vanId=${undoLink})}">Вернуться</a>
  </div>
</div>
<div class="free">

</div>
<div class="basement">
  <div class="basementBlock">
    <div class="basementBlockLeft">
      <div class="basementBlockLeftName">
        О сайте
      </div>
      <div class="basementBlockLeftText">
        Сайт создан для проекта по теме "РЖД", по предмету Современные технологии объектно-ориентированного программирования.
      </div>
    </div>
    <div class="basementBlockRight">
      <div class="basementBlockRightName">
        Ссылки
      </div>
      <div class="basementBlockRightLink">
        <a href="https://www.rzd.ru/ru/9269"><img alt="logo VK" class="basementBlockRightLinkImg" th:src="@{/img/logotype.png}"></a>
        <a href="https://vk.com/id310386679"><img alt="logo RR" class="basementBlockRightLinkImg" th:src="@{/img/vk.png}"></a>
      </div>
    </div>
  </div>
</div>
</body>
</html>