<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyneleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Создание маршрута</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="header">
  <div class="headerBlock">
    <div class="logo">
      <a href="/"><img class="logoImg" th:src="@{/img/logotype.png}" alt="Logotype" /></a>
    </div>
    <div class="spaceLogo">
      <div class="spaceLogoName">
        <a class="spaceLogoNameLink" href="/companyPanel/companyTicket">
          Билеты
        </a>
      </div>
      <div class="spaceLogoName">
        <a class="spaceLogoNameLink" href="/companyPanel/companyTrain">
          Поезда
        </a>
      </div>
      <div  class="spaceLogoName">
        <a class="spaceLogoNameLink" href="/companyPanel/companyTerminal">
          Вокзалы
        </a>
      </div>
    </div>
    <div class="logoName" sec:authorize="isAuthenticated()">
      <a class="logoNameLogin" href="/account" sec:authentication="name">
      </a>
      <div class="logoNameExit">
        <div class="logoNameExitColor">
          <a class="logoNameExitLink" href="/logout">Выйти</a>
        </div>
      </div>
    </div>
    <div class="logoName" sec:authorize="!isAuthenticated()">
      <a class="logoNameLogin" href="/" >
        Логин
      </a>
      <div class="logoNameExit">
        <div class="logoNameExitColor">
          <a class="logoNameExitLink" href="/login">Войти</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="settingForm">
  <div class="settingFormBlock">
    <form th:action="@{/companyPanel/companyTerminal/companyArrival/createCompanyArrival}" th:object="${arrivalForm}" method="post">
      <div class="settingFormBlockName">Создание</div>
      <div class="loginFormBlockTextError" th:if="${param.error}">
        Заполните поля верно.
      </div>
      <div class="settingFormBlockArrivals">
        <input placeholder="Номер терминала" class="settingFormBlockInput" name="terminalId" min="1" max="2147483647" type="hidden" th:value="${undoListCreate}" required/>
      </div>
      <div class="settingFormBlockArrivals">
        <input placeholder="Номер билета" class="settingFormBlockInput" name="ticketId" min="1" max="2147483647" type="number" th:field="*{ticketId}" required/>
      </div>
      <div class="settingFormBlockArrivals">
        <input placeholder="Дата" class="settingFormBlockInput" name="date" min="1" type="date" th:field="*{date}" required/>
      </div>
      <div class="settingFormBlockB">
        <button class="settingFormBlockButton" type="submit">Создать</button>
      </div>
      <div class="settingFormBlockLink">
        <a class="settingFormBlockLinkText" th:href="@{/companyPanel/companyTerminal/companyArrival(terminalId=${undoListCreate})}">Вернуться</a>
      </div>
    </form>
  </div>
</div>
<div class="free">

</div>
<div class="basement">
  <div class="basementBlock">
    <div class="basementBlockLeft">
      <div class="basementBlockLeftName">
        О сайте
      </div>
      <div class="basementBlockLeftText">
        Сайт создан для проекта по теме "РЖД", по предмету Современные технологии объектно-ориентированного программирования.
      </div>
    </div>
    <div class="basementBlockRight">
      <div class="basementBlockRightName">
        Ссылки
      </div>
      <div class="basementBlockRightLink">
        <a href="https://www.rzd.ru/ru/9269"><img alt="logo VK" class="basementBlockRightLinkImg" th:src="@{/img/logotype.png}"></a>
        <a href="https://vk.com/id310386679"><img alt="logo RR" class="basementBlockRightLinkImg" th:src="@{/img/vk.png}"></a>
      </div>
    </div>
  </div>
</div>
</body>
</html>