<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyneleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Расписание для поездов</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="header">
  <div class="headerBlock">
    <div class="logo">
      <a href="/"><img class="logoImg" th:src="@{/img/logotype.png}" alt="Logotype" /></a>
    </div>
    <div class="spaceLogo">
      <div class="spaceLogoName">
        <a class="spaceLogoNameLink" href="/mainClient/myTicket">
          Мои билеты
        </a>
      </div>
      <div class="spaceLogoName">
        <a class="spaceLogoNameLink" href="/mainClient/scheduleTrain">
          Поезда и маршруты
        </a>
      </div>
      <div  class="spaceLogoName">
        <a class="spaceLogoNameLink" href="/mainClient/scheduleTerminal">
          Вокзалы
        </a>
      </div>
    </div>
    <div class="logoName" sec:authorize="isAuthenticated()">
      <a class="logoNameLogin" href="/account" sec:authentication="name">
      </a>
      <div class="logoNameExit">
        <div class="logoNameExitColor">
          <a class="logoNameExitLink" href="/logout">Выйти</a>
        </div>
      </div>
    </div>
    <div class="logoName" sec:authorize="!isAuthenticated()">
      <a class="logoNameLogin" href="/" >
        Логин
      </a>
      <div class="logoNameExit">
        <div class="logoNameExitColor">
          <a class="logoNameExitLink" href="/login">Войти</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="routeFormBlockName">
  Поезда и маршруты
</div>
<div class="sort">
  <div class="sortBlocks">
    <form class="sortBlock" th:action="@{/mainClient/scheduleTrain}" method="post">
      <div class="sortBlockChoice1">
        <tr th:each="train,i : ${allTrains}">
          <td><input name="lstTr" th:value="${train.getId()}" type="hidden"></td>
        </tr>
        <select name="sortName" class="sortBlockChoice1Select" size="1" required>
          <option selected value="Отсутствует">Отсутствует</option>
          <option value="По названию">По названию</option>
          <option value="По типу">По типу</option>
          <option value="По кол-ву вагонов">По кол-ву вагонов</option>
          <option value="По кол-ву мест">По кол-ву мест</option>
        </select>
      </div>
      <div class="sortBlockChoice2">
        <select name="sortBy" class="sortBlockChoice2Select" size="1" required>
          <option selected value="По возрастанию">По возрастанию</option>
          <option value="По убыванию">По убыванию</option>
        </select>
      </div>
      <div th:if="${allTrains.size()>0}" class="sortBlockButton">
        <button class="sortBlockButtonSubmit" type="submit">Применить</button>
      </div>
      <div th:if="${allTrains.size()<=0}" class="sortBlockButton">
        <button class="sortBlockButtonSubmit" type="button">Применить</button>
      </div>
    </form>
    <form class="sortBlockReset" th:action="@{/mainClient/scheduleTrain}" method="post">
      <div class="sortBlockButtonReset">
        <button class="sortBlockButtonSubmit" type="submit">Сбросить</button>
      </div>
    </form>
  </div>
</div>
<div  class="tableBlock">
  <div class="scheduleBlocks" >
    <div class="scheduleBlock">
      <div class="scheduleBlockFieldHTrain">Номер</div>
      <div class="scheduleBlockFieldHTrain">Название</div>
      <div class="scheduleBlockFieldHTrain">Тип</div>
      <div class="scheduleBlockFieldHTrain">Кол-во вагонов</div>
      <div class="scheduleBlockFieldHTrain">Кол-во мест</div>
      <div class="scheduleBlockFieldHTrain">Маршрут</div>
    </div>
    <div class="scheduleBlock" data-th-each="train : ${allTrains}">
      <div class="scheduleBlockFieldTrain" th:text="${train.id}"></div>
      <div class="scheduleBlockFieldTrain" th:text="${train.nameTrain}"></div>
      <div class="scheduleBlockFieldTrain" th:text="${train.typeTrain}"></div>
      <div class="scheduleBlockFieldTrain" th:text="${trainServ.allVans(train.id).size()}"></div>
      <div class="scheduleBlockFieldTrain" th:text="${trainServ.countPlaceTrain(train.id)}">Кол-во мест</div>
      <form class="scheduleBlockButtonTrain" th:action="@{/mainClient/scheduleTrain/scheduleArrival}" method="get">
        <input type="hidden" name="trainId" th:value="${train.id}"/>
        <button class="scheduleBlockButtonTrainSubmit" type="submit">Маршрут</button>
      </form>
    </div>
  </div>
  <div class="tableBlockLink">
    <a class="tableBlockLinkA" href="/mainClient">Вернуться</a>
  </div>
</div>
<div class="free">

</div>
<div class="basement">
  <div class="basementBlock">
    <div class="basementBlockLeft">
      <div class="basementBlockLeftName">
        О сайте
      </div>
      <div class="basementBlockLeftText">
        Сайт создан для проекта по теме "РЖД", по предмету Современные технологии объектно-ориентированного программирования.
      </div>
    </div>
    <div class="basementBlockRight">
      <div class="basementBlockRightName">
        Ссылки
      </div>
      <div class="basementBlockRightLink">
        <a href="https://www.rzd.ru/ru/9269"><img alt="logo VK" class="basementBlockRightLinkImg" th:src="@{/img/logotype.png}"></a>
        <a href="https://vk.com/id310386679"><img alt="logo RR" class="basementBlockRightLinkImg" th:src="@{/img/vk.png}"></a>
      </div>
    </div>
  </div>
</div>
</body>
</html>